{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <script src="{% static 'user/signup.js' %}"></script>
</head>
<body data-error = "{{error|default:''|escapejs}}">
    <h1>Sign Up</h1><br>
    <form action="{% url 'users:signup' %}" method="post">
        {% csrf_token %}
        <input type="text" name="Full_Name" value ="{{form_data.Full_Name|default_if_none:''}}" placeholder="Full Name" required>
        <input type="text" name="Username" value ="{{form_data.Username|default_if_none:''}}" placeholder="Username" required>
        <input type="email" name="Email" value ="{{form_data.Email|default_if_none:''}}" placeholder="Email Address" required>
        <input type="password" name="Password" placeholder = "Create a Password" required>
        <input type="password" name = "Confirm_password" placeholder = "Confirm Password" required>
        <input type="submit" value="Sign Up">
    </form>
    Already have an account?<a href = "{% url 'users:login' %}">LogIn</a>
</body>
</html>